<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>

    <title> Tech Career Depot</title>
</head>
<body>
    <!-- Begin hero section here -->
    <section class="hero">
        <h1 class='hero-overlay'> &lt;Tech Career Depot/&gt; </h1>
        <p>...find yourself in technology.</p> <br>
        <article>
            <h3>Are you curious about what it takes to get into the IT technology field? Explore tech careers in just one stop and begin a new journey today!</h3>
        </article><br>
    </section>

    <div class='container'>
       <h1>Tech Careers</h1> 
            <div style="border: 1px solid grey; margin-bottom:40px; margin-top:40px; padding-bottom:20px; padding-left:20px; padding-right:20px;">
            <ul class='ul'>    
                <% careers.forEach(function(career){ %>
                    <div class='career-title'>
                    <li class='li'><h3><%- career.title %></h3></li>   
                    </div>

                    <div class='career-body'>
                        <li><%- career.description %></li><br>

                        
                        <a href="/careers/<%= career.id %>/edit">Edit</a>

                        <form action="/careers/<%=career.id %>?_method=DELETE" method=POST>
                        <button type="submit">Delete</button>
                    </form><br>
                    <li> <a href="/careers/<%=career.id %>">Read More About These Careers</a> </li> <br>
                    </div>
                    <br> <hr>
                    
                <%});%>

                </ul> 
            </div>
    </div>


     <ul>
         <li> <a href="/careers/show">Read More About These Careers</a> </li> <br>
       
         <li> <a href="/careers/new" class='btn new'> Add a Career</a> </li>
     </ul>
     
     
     

</body>
</html>